* {
    margin: 0px;
    padding-inline-start: 0px;
    padding: 0px;
}

.one {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.two {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.three {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    
}

.four {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}

.five {
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.six {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
}

.seven {
    border-right: 1px solid black;
    border-top: 1px solid black;
}

.eight {
    border-right: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
}

.nine {
    border-top: 1px solid black;
    border-left: 1px solid black;
}

body {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid rgb(152, 152, 245);
    border-radius: 3px;
    width: 185px;
    height: 15px;
    padding: 5px;
    font-size: 15px;
}

select {
   border-radius: 4px;
   background-color: white;
   width: 40px;
   height: 25px;
   padding:3px;
}

#generalContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 30px;
    width: 800px;
    height: 800px;
}

#playerForm {
    width: 100%;
    font-size: 18px;
    background-color: bisque;
    border-radius: 10px;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-bottom: 50px;
}

.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#resetButton {
    width: 120px;
    height: 40px;
    background-color: white;
    border: 1px solid rgb(128, 128, 128);
    font-size: 16px;
    border-radius: 4px;
}

#resetButton:active {
    transform: scale(0.98);
}

#boardContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 80%;
    box-sizing: border-box;
}

.boardCase {
    display: flex;
    font-size: 150px;
    justify-content: center;
    align-items: center;
    width: calc(100%/3);
    height: calc(100%/3);
    box-sizing: border-box;
}



